.navbar {
  width: 100%;
  height: 70px;
  background-color: rgba(27, 3, 94, 0.651);
  box-shadow: 2px 2px 5px black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar a {
  font-size: 20px;
  margin: 10px;
  color: white;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar a:hover {
  cursor: pointer;
}
